USE [project]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 15/11/2019 07:30:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[admin] [bit] NULL,
	[userid] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Brand]    Script Date: 15/11/2019 07:30:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Brand] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cart]    Script Date: 15/11/2019 07:30:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[userid] [int] NULL,
	[amount] [nchar](10) NULL,
	[totalprice] [float] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[price] [float] NULL,
	[productid] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 15/11/2019 07:30:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[name] [nvarchar](max) NULL,
	[title] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[brandId] [int] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[image] [nvarchar](50) NULL,
	[price] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([username], [password], [admin], [userid]) VALUES (N'mra', N'mra', 1, 1)
INSERT [dbo].[Account] ([username], [password], [admin], [userid]) VALUES (N'mrb', N'mrb', 0, 2)
INSERT [dbo].[Account] ([username], [password], [admin], [userid]) VALUES (N'mrc', N'mrc', 0, 3)
SET IDENTITY_INSERT [dbo].[Account] OFF
INSERT [dbo].[Brand] ([id], [name]) VALUES (1, N'Nike')
INSERT [dbo].[Brand] ([id], [name]) VALUES (2, N'Adidas')
INSERT [dbo].[Brand] ([id], [name]) VALUES (3, N'Converse')
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([userid], [amount], [totalprice], [id], [price], [productid]) VALUES (1, N'200       ', 400, 1, 2, 1)
INSERT [dbo].[Cart] ([userid], [amount], [totalprice], [id], [price], [productid]) VALUES (1, N'2         ', 1000, 2, 500, 1)
INSERT [dbo].[Cart] ([userid], [amount], [totalprice], [id], [price], [productid]) VALUES (1, N'2         ', 1000, 3, 500, 1)
SET IDENTITY_INSERT [dbo].[Cart] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

SET IDENTITY_INSERT [dbo].[Product] OFF
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([userid])
REFERENCES [dbo].[Account] ([userid])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([brandId])
REFERENCES [dbo].[Brand] ([id])
GO
